.ff-logo {
  width: 50%;
  height: 50%;
  display: block;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position:absolute;
  left:180px;
  top:100px;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  display: none;
  height: 15px;
  width: 15px;
  text-align: center;
  margin: auto;
  position:relative;
  left:120px;
  top:550px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
