extends layout
doctype html
html
block content
  h2 Log in
  
  div.form(action="#{router}" method="POST")
    .form-group
      label(for='email') Email
      input.form-control(type='email', name='email' placeholder='Email' autofocus=true)
    .form-group
      label(for='password') Password
      input.form-control(type='password', name='password')
    button.btn.btn-primary(type="submit") Log-in 

  h2 Register Here <br/><br/>
  
  div.form(action="#{router}" method="POST")
      .form-group
        label First Name
        input(type="text", placeholder="Enter First Name" name="firstname" required)
      
      .form-group
        label Last Name
        input(type="text", placeholder="Enter Last Name" name="lastname" required)
      
      .form-group
        label(for='username') User Name
        input(type="text", placeholder="Choose User Name" name="username" required)
    
      .form-group
        label(for='email') Email
        input(type="text", placeholder="Enter Email" name="email" required)
    
      .form-group
        label(for='password') Password
        input(type="password", placeholder="Enter Password", name="password" required)
      
      .form-group
        label(for='passwordConf') Repeat Password
        input(type="password", placeholder="Repeat Password", name="passwordConf" required)
    
        button.btn.btn-primary(type="submit") Sign Up 
